
{% if user.is_authenticated %}
  Hi {{ user.username }}!
 <p><a href="{% url 'adminprofile' %}">Profile</a></p>
<p><a href="{% url 'change_password' %}">Change password</a></p>
<p><a href="{% url 'Student_search' %}"> Student Search</a></p>
<p><a href="{% url 'Faculty_search' %}">Faculty Search</a></p>
<p><a href="{% url 'Course' %}">Course</a></p>
<p><a href="{% url 'Department' %}">Department</a></p>
<p><a href="{% url 'assign_course' %}">assign course to faculty</a></p>
<p><a href="{% url 'assign_semester' %}">assign course to faculty</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% endif %}